body {
  @apply bg-slate-100;
}

.triangle-vote-up{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 12px 7px;
  border-color: transparent transparent #888 transparent;
}

.text-white > .triangle-vote-up{
    border-color: transparent transparent #fff transparent;
}

.custom-loader {
  width:20px;
  height:20px;
  border-radius:50%;
  border:8px solid;
  border-color:#E4E4ED;
  border-right-color: #766DF4;
  animation:s2 1s infinite linear;
}
@keyframes s2 {to{transform: rotate(1turn)}}